*:not(svg) {
  font-family: arial, sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}

/* header */

.page__header {
  justify-content: flex-end;
  padding: 6px;
  margin: 4px 2px;
}

.header {
  display: flex;
  font-size: 0.8125rem;
  align-items: center;
}

.header__app-icon {
  width: 24px;
  height: 24px;
  padding: 8px;
  cursor: pointer;
  margin-left: 15px;
}

.header__app-icon:hover {
  background-color: rgba(60, 64, 67, 0.08);
  border-radius: 100%;
}

.link {
  text-decoration: none;
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
}

.header__link {
  padding-left: 15px;
  color: rgba(0, 0, 0, 0.87);
}

.button {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  width: fit-content;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.button_primary {
  background: #1a73e8;
  border: 1px solid transparent;
  color: #fff;
}

.button_primary:hover {
  background: #2b7de9;
  box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%),
    0 1px 3px 1px rgb(66 133 244 / 15%);
  color: #fff;
}

.header__button {
  margin: 0 8px;
  padding: 0 23px;
}

/* Main */

.main {
  text-align: center;
}

.main__image-wrapper {
  min-height: 92px;
  max-height: 290px;
  height: calc(100vh - 560px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main__wrapper {
  padding: 28px 20px 20px;
}

.main__search-icon {
  width: 20px;
  height: 20px;
  fill: #9aa0a6;
}

.main__serch-wrapper {
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
  max-width: 584px;
  /* Todo: remove */
  margin-bottom: 20px;
  margin: auto;
  align-items: center;
  padding-left: 14px;
  padding-right: 8px;
}
.main__serch-wrapper:hover,
.main__serch-wrapper:focus-within {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

.main__search {
  width: 100%;
  border: none;
  outline: none;
  margin-left: 13px;
}

.main__button {
  padding-top: 18px;
  display: flex;
  justify-content: center;
  height: 70px;
  margin-bottom: 20px;
}
