*:not(svg) {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  font-size: 0.8125rem;
  align-items: center;
}

.header__app-icon {
  width: 24px;
  height: 24px;
  padding: 8px;
  cursor: pointer;
  margin-left: 15px;
}

.header__app-icon:hover {
  background-color: rgba(60, 64, 67, 0.08);
  border-radius: 100%;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.header__link {
  padding-left: 15px;
  color: rgba(0, 0, 0, 0.87);
}

.button {
  padding: 9px 23.9px;
  /* Todo: remove */
  background-color: blue;
  color: white;
  text-decoration: none;
}

.header__button {
  margin: 0 8px;
}
