.gsc-control-cse {
  padding: 0;
}

#___gcse_1 {
  position: relative;
  margin-left: 180px !important;
  width: 652px;
}

.gsc-orderby-container {
  display: none;
}

.gs-title {
  padding-top: 5px;
  line-height: 1.3;
  margin-bottom: 3px;
  font-size: 20px !important;
}

.gs-title > b {
  font-size: 20px !important;
  font-weight: normal;
}

.gs-result {
  position: relative;
  margin-top: 20px;
}
.gsc-url-top {
  position: absolute;
  top: -20px;
}
.gs-result .gs-image,
.gs-result .gs-promotion-image {
  border: none;
}
.gs-image {
  max-width: 100px !important;
  max-height: 50px !important;
  margin-right: 10px;
  border: 1px solid #e2e2e2;
}

.gs-snippet {
  padding-left: 120px;
}

.gcsc-more-maybe-branding-root {
  display: none;
}

.gsc-cursor-box {
  margin: 10px 10px 20px !important;
}
